<nav class="navbar">
  <a href="/dashboard" class="navbar-brand">Finance Tracker</a>
  <ul class="navbar-nav">
    <% if (typeof user !== 'undefined' && user) { %>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/transactions/new">Add Transaction</a></li>
      <li class="navbar-user">Hello, <%= user.name %></li>
      <li><a href="/logout" class="btn btn-outline">Logout</a></li>
    <% } else { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup" class="btn btn-primary">Sign Up</a></li>
    <% } %>
  </ul>
</nav>
